<div class="container-fluid">
  <div class="row">
    <div class="col bg-danger text-white">
      <a class="navbar-brand">Online STORE</a>
    </div>
  </div>

  <div class="row text-white">
    <div class="col-3 bg-info p-2">
      Categories
      <div class="my-1"> 
        <button 
          class="btn btn-block btn-outline-dark"
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">Home</button>
         <button 
          class="btn btn-block btn-outline-dark"
          routerLink="/category"
          routerLinkActive="active"
          [queryParams]="{id:1}"
          [routerLinkActiveOptions]="{exact:true}">Category 1</button>
         <button 
          class="btn btn-block btn-outline-dark"
          routerLink="/category"
          routerLinkActive="active"
          [queryParams]="{id:2}"
          [routerLinkActiveOptions]="{exact:true}">Category 2</button>

      </div>
    </div>
    <div class="col-9 bg-success p-2">
      Products
      <div class="card m-1 p-1 bg-light">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
